<button (click)="sendMessage()">Send message</button>
<div class="page" *ngIf="company && quote">
  <a href={{company.website}} target="_blank">{{ company.companyName}} &#40;{{ company.symbol }}&#41;</a>
  <span class="small"> {{ company.exchange }}</span>

  <dl class="info">
    <dt>CEO</dt>
    <dd>{{ company.CEO }}</dd>

    <dt>Industry</dt>
    <dd>{{ company.industry }}</dd>

    <dt>Sector</dt>
    <dd>{{ company.sector }}</dd>

    <dt>Description</dt>
    <dd>{{ company.description }}</dd>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of company.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </dl>

  <div class="bottom-container">
    <div class="bottom-container-quotes">
        <div class="price-container">
            <span class="latest-price">{{ quote.latestPrice }}</span>
            <span class="change negative">-1.94 (-1.00%)</span>
          </div>
          <span class="small">Latest</span>
        
          <span class="spacer"></span>
        
          <span class="open-close-price">{{ quote.open }}</span>
          <span class="small">At Open (Tuesday, November 13, 2018 8:30:00.827 AM)</span>
        
          <span class="spacer"></span>
        
          <span class="open-close-price">{{ quote.close }}</span>
          <span class="small">At Close (Tuesday, November 13, 2018 3:00:00.307 PM)</span>
    </div>

     <!--Remove class-->
    <div class="bottom-container-table-1">
        <dl>
            <dt>High</dt>
            <dd>{{ quote.high }}</dd>
            <mat-divider></mat-divider>
            <dt>Low</dt>
            <dd>{{ quote.low }}</dd>
            <mat-divider></mat-divider>
            <dt>Market Cap</dt>
            <dd>{{ quote.marketCap }}</dd>
            <mat-divider></mat-divider>
            <dt>PE Ratio (TTM)</dt>
            <dd>{{ quote.peRatio }}</dd>
          </dl>
    </div>

    <!--Remove class-->
    <div class="bottom-container-table-2">
        <dl>
            <dt>YTD Yield</dt>
            <dd>{{ quote.ytdChange }}</dd>
            <mat-divider></mat-divider>
            <dt>Latest Volume</dt>
            <dd>{{ quote.latestVolume }}</dd>
            <mat-divider></mat-divider>
            <dt>52 Week High</dt>
            <dd>{{ quote.week52High }}</dd>
            <mat-divider></mat-divider>
            <dt>52 Week low</dt>
            <dd>{{ quote.week52Low }}</dd>
          </dl>
    </div>
  </div>

</div>
