<!-- <pre> {{ company | json }}</pre> -->

<div class="page">
  <a href="http://www.apple.com" target="_blank">Apple Inc. (AAPL)</a>
  <span class="small">Nasdaq Global Select</span>

  <dl class="info">
    <dt>CEO</dt>
    <dd>Timothy D. Cook</dd>

    <dt>Industry</dt>
    <dd>Computer Hardware</dd>

    <dt>Sector</dt>
    <dd>Technology</dd>

    <dt>Description</dt>
    <dd>Apple Inc is designs, manufactures and markets mobile communication and media devices and personal computers, and sells a variety of related software, services, accessories, networking solutions and third-party digital content and applications.</dd>
    <mat-chip-list>
      <mat-chip>Technology</mat-chip>
      <mat-chip>Consumer Electronics</mat-chip>
      <mat-chip>Computer Hardware</mat-chip>
    </mat-chip-list>
  </dl>

  <div class="bottom-container">
    <div class="bottom-container-quotes">
        <div class="price-container">
            <span class="latest-price">192.23</span>
            <span class="change negative">-1.94 (-1.00%)</span>
          </div>
          <span class="small">Latest</span>
        
          <span class="spacer"></span>
        
          <span class="open-close-price">191.72</span>
          <span class="small">At Open (Tuesday, November 13, 2018 8:30:00.827 AM)</span>
        
          <span class="spacer"></span>
        
          <span class="open-close-price">192.23</span>
          <span class="small">At Close (Tuesday, November 13, 2018 3:00:00.307 PM)</span>
    </div>

    <div class="bottom-container-table-1">
        <dl>
            <dt>High</dt>
            <dd>999</dd>
            <mat-divider></mat-divider>
            <dt>Low</dt>
            <dd>999</dd>      
            <mat-divider></mat-divider>
            <dt>Market Cap</dt>
            <dd>999</dd>
            <mat-divider></mat-divider>
            <dt>PE Ratio (TTM)</dt>
            <dd>999</dd>
          </dl>
    </div>

    <div class="bottom-container-table-2">
        <dl>
            <dt>YTD Yield</dt>
            <dd>999</dd>
            <mat-divider></mat-divider>
            <dt>Latest Volume</dt>
            <dd>999</dd>      
            <mat-divider></mat-divider>
            <dt>52 Week High</dt>
            <dd>999</dd>
            <mat-divider></mat-divider>
            <dt>52 Week low</dt>
            <dd>999</dd>
          </dl>
    </div>
  </div>

</div>